@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,300,400,500,700');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #ffff;
  //background-color: #282828;
}

.container {
  margin: 0 auto;
  max-width: 1366px;
  min-width: 320px;
}

.wrap {
  margin: 0 auto;
  max-width: 1170px;
}